<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Search
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-toolbar>
    <ion-searchbar placeholder="Search" debounce="700" [value]="textSearch" (ionChange)="search($event)" disabled="false"></ion-searchbar>
</ion-toolbar>
<ion-content>

    <ion-grid *ngIf="searching">
        <ion-row>
            <ion-col style="text-align: center">
                <ion-spinner name="crescent"></ion-spinner>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-list *ngIf="movies.length==0">
        <ion-list-header>
            Tags
        </ion-list-header>
        <ion-item *ngFor="let tag of tags">
            <ion-label color="primary" (click)="textSearch = tag">{{tag}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="6" *ngFor="let movie of movies">
                <ion-card (click)="movieDetail(movie.id)">
                    <img [src]="movie.poster_path | images" alt="">
                    <ion-card-header>
                        <ion-card-subtitle>
                            {{movie.release_date}}
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <h2>{{movie.title}}</h2>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slideshow-backdrop [moviesFromFather]="latestMovies"></app-slideshow-backdrop>



</ion-content>