<ion-content [fullscreen]="true">
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Favourites</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div *ngFor="let movies of favouriteByGenre">
        <ion-grid *ngIf="movies.movie.length > 0">
            <ion-row>
                <ion-col>
                    {{movies.genre}}
                </ion-col>
            </ion-row>
            <app-slideshow-poster (load)="loadData($event)" [moviesFromFather]="movies.movie"></app-slideshow-poster>
        </ion-grid>
    </div>

</ion-content>