<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Movies in Theaters</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slideshow-backdrop [slidesView]="slidesView" [moviesFromFather]="latestMovies"></app-slideshow-backdrop>
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Movies Recommended For You</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slideshow-poster [moviesFromFather]="latestMovies"></app-slideshow-poster>
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Populars Movies</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slideshow-poster [moviesFromFather]="popularMovies"></app-slideshow-poster>
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Pairs</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slideshow-pairs [moviesFromFather]="popularMovies" (loadMore)="loadMore()"></app-slideshow-pairs>



</ion-content>